<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>MyReads</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
<section class="bgpurple myReads" >

  <div class="row row justify-content-end">   
    <div class="col-lg-6 col-sm-12">

        <h1 class="display-3">MyReads.</h1>
        <p class="">
          It's a platform to enhace and keep track of your learnings. Here you can make, edit, style, delete and share boards containing your review about a book that
          you've read and also make to-read-list!
        </p>
      <!-- <button class="btn btn-outline-warning" onclick="location.href = '/register'">Register</button>
     -->
      <a class="btn btn-warning btn-front" href="/register" role="button">Register</a>
      
      <a class="btn btn-warning btn-front" href="/login" role="button">Login</a>
      </div>
  
      <!-- COL LEFT ENDS -->
   
    <div class="col-lg-6">
      <img class="" src="/img/illus.png" id="ft-img" alt="">
    </div>

</div>
</div>
</section>

  </body>
  </html>
  <%- include("partials/footer"); -%>