<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>MyReads</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <p class="navbar-brand"><a href="/">🔙</a></p>
      </div>
    </nav>

    <section class="title cta">
      <div class="bgpurple shadow">
        <h1>Login</h1>
      </div>

      <div class="form-group">
        <!-- PINK BOX -->
        <div class="bgpink shadow">
          <form class="" action="/login" method="post">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="username" />

            <div class="up">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" />
            </div>
            <!-- BUTTION -->
            <div class="up">
              <button class="btn btn-warning btnx" type="submit" name="button">
                Login
              </button>
            </div>
          </form>
          <!-- GOOGLE -->
          <hr style="border-top: 1px solid rgb(64, 64, 64)" />

          <button
            class="btn btn-lg btn-block btn-danger btnx"
            onclick="location.href='/auth/google'"
            style="background-color: #b93737"
            type="submit"
          >
            <i class="fa-brands fa-google"></i> Continue with google
          </button>
        </div>
      </div>
    </section>
  </body>
</html>

<%- include("partials/footer"); -%>
