<%- include("partials/header"); -%>
<section class="title">
  <div class="bgpurple row shadow">
    <!-- <div class="row"> -->
    <div class="col-lg-10 align-self-middle">
      <h1 style="font-size: 4rem"><%=title%></h1>
    </div>
    <div class="col-lg-2">
      <img style="width: 200px" src="/img/book.png" />
    </div>
  </div>
  <!-- 
  <table class="bgpurple" style="width: 100%">
    <tbody>
      <tr>
        <td class="align-bottom"><h1></h1></td>
        <td><img style="width: 200px" src="/img/book.png" /></td>
      </tr>
    </tbody>
  </table> -->

  <div class="bgpink shadow">
    <p><%=content%></p>
  </div>
</section>
<%- include("partials/footer"); -%>
