<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>MyReads</title>
    <meta charset="utf-8" />

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <section class="title up">
      <div class="bgpurple">
        <h1>Register</h1>
      </div>
      <form class="" action="/register" method="post">
        <div class="form-group">
          <!-- PINK BOX -->
          <div class="bgpink">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="username" />
          </div>
          <!-- PINK BOX -->
          <div class="bgpink">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" />
          </div>
        </div>
        <button class="btn btn-warning btnx" type="submit" name="button">
          Register
        </button>
      </form>
    </section>
  </body>
</html>
